@define-mixin atSmall {
	/* At least 530px or larger */
	@media screen and (min-width: 530px) {
		@mixin-content;
	}
}

@define-mixin atMedium {
	/* At least 800px or larger */
	@media screen and (min-width: 768px) {
		@mixin-content;
	}
}

@define-mixin atLarge {
	@media screen and (min-width: 1024px) {
		@mixin-content;
	}
}

@define-mixin clearfix {
	&::after {
		content: '';
		clear: both;
		display: table;
	}
}
