.primary-nav {
	padding-top: 1rem;

	@mixin atMedium {
		/* Don't need vertcal gap in medium screen */
		padding-top: 0;
	}

	&--pull-right {
		@mixin atMedium {
			/* on medium screen, pull the <nav> to the right */
			float: right;
		}
	}

	/* Break the BEM rules, The same reason with generic-container-container */
	ul {
		margin: 0;
		padding: 0;
		@mixin clearfix;
	}

	li {
		list-style: none;
		/* inline-block make <ii> to align in a row  */
		display: inline-block;
		padding-right: 7px;

		@mixin atMedium {
			/* float, display make all list-item move left and in one line, 
			padding-right to add horizontal spaceing between each of these links*/
			padding-right: 20px;
			float: left;
			display: block;
		}
	}

	li:last-child {
		/* Small screen don't need the space in the last element */
		padding-right: 0;

		@mixin atMedium {
			/* Medium screen need padding-right on the last <li> */
			padding-right: 20px;
		}
	}

	a {
		font-weight: 300;
		color: #fff;
		text-decoration: none;
		display: block;
		/* Add padding to align the links */
		padding: 10px 12px;
		font-size: 1.2rem;
		background: rgba(47, 85, 114, 0.8);
		background-color: rgba($mainBlue, 0.8);
		border-radius: 10px;

		@mixin atMedium {
			font-size: 1rem;
			padding: 12px 0;
			background-color: transparent;

			&.is-current-link {
				color: #fabb69;
			}
		}
	}
}
